<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All">信用監控系統</NavLink>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="fas fa-home"></i> 首頁
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/deteriorated-cases">
                        <i class="fas fa-exclamation-triangle"></i> 惡化案件
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/credit-monitoring">
                        <i class="fas fa-chart-line"></i> 信用監控
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/account-details">
                        <i class="fas fa-user"></i> 帳戶詳情
                    </NavLink>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <LoginDisplay />
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
