<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All">信用監控系統</NavLink>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="fas fa-home"></i> 首頁
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/deteriorated-cases">
                        <i class="fas fa-exclamation-triangle"></i> 惡化案件
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/credit-monitoring">
                        <i class="fas fa-chart-line"></i> 信用監控
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/account-details">
                        <i class="fas fa-user"></i> 帳戶詳情
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-shield-alt"></i> 身份認證
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" href="/jwt-login">
                                <i class="fas fa-key me-2"></i> JWT 登入
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" href="/login">
                                <i class="fas fa-sign-in-alt me-2"></i> 傳統登入
                            </NavLink>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#" @onclick="ShowAuthInfo">
                                <i class="fas fa-info-circle me-2"></i> 認證說明
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <LoginDisplay />
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ShowAuthInfo()
    {
        // 這裡可以顯示認證方式的說明對話框
        // 或者導航到認證說明頁面
    }
}
