@page "/"

<PageTitle>信用監控系統 - 首頁</PageTitle>

<div class="mb-4">
    <h1 class="display-4">歡迎使用信用監控系統</h1>
    <p class="lead">即時監控信用狀況，管理風險案件</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-body text-center">
                <i class="fas fa-exclamation-triangle fa-3x text-danger mb-3"></i>
                <h5 class="card-title">信用惡化案件</h5>
                <p class="card-text">查看和管理需要關注的信用惡化案件</p>
                <a href="/deteriorated-cases" class="btn btn-primary">檢視案件</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card border-success">
            <div class="card-body text-center">
                <i class="fas fa-chart-line fa-3x text-success mb-3"></i>
                <h5 class="card-title">信用監控</h5>
                <p class="card-text">即時監控整體信用狀況和趨勢</p>
                <a href="/credit-monitoring" class="btn btn-success">開始監控</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card border-info">
            <div class="card-body text-center">
                <i class="fas fa-user-circle fa-3x text-info mb-3"></i>
                <h5 class="card-title">帳戶管理</h5>
                <p class="card-text">管理和檢視客戶帳戶詳細資訊</p>
                <a href="/account-details/1" class="btn btn-info">帳戶詳情</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">系統說明</h4>
            <p>
                本系統提供完整的信用監控功能，包括：
            </p>
            <ul>
                <li>即時監控信用惡化案件</li>
                <li>客戶帳戶詳細資訊管理</li>
                <li>案件詳情檢視和處理</li>
                <li>風險等級評估和預警</li>
            </ul>
            <hr>
            <p class="mb-0">
                請使用上方導航選單或下方快速連結存取各項功能。
            </p>
        </div>
    </div>
</div>
